* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-flow: column;
}
#loading {
  height: 100vh;
  z-index: 1;
}
#loading div {
  display: flex;
  align-items: center;
  margin: auto;
  width: 40px;
}
#loading div img {
  margin-top: 40vh;
}
/**************************** Headings ***********************************/

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.section-heading span {
  display: flex;
  align-items: center;
  width: 50px;
  margin-right: 10px;
}
.section-heading span img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.section-heading h3 {
  font-family: "Caveat", cursive;
  font-size: 1.7em;
}

/**************************** Top ***********************************/

#top {
  display: flex;
  flex-flow: column;
  background: #303841;
  padding: 3.3em 0;
}
#top h1 {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 2.1em;
  color: #f6c90e;
}
#top h2 {
  font-family: "Caveat", cursive;
  margin-top: 0.5em;
  font-weight: normal;
  text-align: center;
  font-size: 1.4em;
  color: #eeeeee;
}
#top div {
  width: 10em;
  height: 10em;
  border: solid 8px #e78267;
  margin: 3em auto 0;
}
#top img {
  width: 10em;
  height: 10em;
  border: solid 5px #ffffff;
}
/**************************** Middle ***********************************/

#middle {
  background: #eeeeee;
  padding: 3em 2em;
  display: flex;
  flex-flow: column;
}
#mid-tab {
  font-family: "Jost", sans-serif;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.mid-tab-row {
  width: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}
.row-img {
  margin-right: 15px;
  width: 30px;
}
.row-img img {
  object-fit: cover;
  width: 100%;
}

/**************************** Skill ***********************************/

#skill {
  padding: 3em 0;
  margin: auto;
}
/* #skill-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
} */
#skill-div{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.skill-div-data {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: auto;
  margin-bottom: 1em;
}
.skill-img {
  width: 50px;
  margin-right: 15px;
}
.skill-img img {
  width: 100%;
  object-fit: cover;
}
.skill-name {
  font-family: "Jost", sans-serif;
  font-size: 1.2em;
}

/**************************** Project ***********************************/

#project {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  padding: 3.3em 0;
  background: #eeeeee;
}
#project-catlogue {
  max-width: 1500px;
  display: flex;
  flex-flow: column;
}
.project-card {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto 10%;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #d3d3d3;
}
.card-head,
.card-img {
  margin-bottom: 1em;
  padding: 5% 5% 0;
}
.card-head {
  display: flex;
  align-items: center;
}
.card-head span {
  width: 40px;
}
.card-head span img {
  width: 100%;
  object-fit: cover;
}
.card-head h3 {
  margin-left: 10px;
  font-family: "Jost", sans-serif;
  font-size: 1em;
  text-align: left;
}
.card-img {
  width: 100%;
}
.card-img img {
  border-radius: 5px;
  width: 100%;
}
.card-desc {
  font-family: "Jost", sans-serif;
  font-size: 1em;
  padding: 0 5%;
}
.card-link {
  padding: 10px;
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Jost", sans-serif;
  background: transparent;
  color: #f05454;
  border: solid 3px #f05454;
  border-radius: 10px;
  margin: 1em auto;
}
.card-link:hover {
  background: #f05454;
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 10px;
  margin: 1em auto;
}

/**************************** Qualification ***********************************/

#education {
  padding: 3.3em 0;
}

#qaulification-catlogue {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 1500px;

}
.qualification-div {
  background: #eeeeee;
  width: 90%;
  margin: 1em auto;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.category {
  color: #903749;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.institute {
  color: #194350;
}
.marks {
  color: #ce1212;
}

/******************************* Footer *************************************/

#footer {
  height: 150px;
  background: #303841;
  display: flex;
  padding: 2.5em 0;
  flex-flow: column;
}
#social {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#social a {
  width: 50px;
}
.connect-img {
  width: 100%;
  padding: 10px;
}
#copyright {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright-img {
  width: 25px;
}
@media screen and (min-width: 400px) {
  #project,
  #education {
    padding: 3.3em 10%;
  }
}
@media screen and (min-width: 550px) {
  body {
    font-size: 18px;
  }
  #top {
    height: 27em;
  }
  #top h1 {
    font-size: 2.5em;
  }
  #skill-div {
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 10%;
  }
  .skill-div-data {
    margin-bottom: 2em;
  }
  #project,
  #education {
    padding: 3.3em 15%;
  }
  #skill-div{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 2rem ;

  }
}
@media screen and (min-width: 700px) {
  #project,
  #education {
    padding: 3.3em 1em;
  }
  #skill-div{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
  #project-catlogue {
    width: 70%;
    margin: auto;
  }
  .project-card {
    margin: 1.2rem auto;
    font-size: 20px;
  }
  #qaulification-catlogue {
    width: 90%;
    margin: auto;
    flex-flow: row;

    justify-content: space-between;
  }
  .qualification-div {
    margin: 0 3%;
    display: flex;
    flex-flow: column;
    width: 80%;
  }
  .card-desc {
    font-size: 1em;
  }
  .card-link {
    font-size: 1em;
  }
  .mid-tab-data {
    font-size: 1.2em;
  }
  .row-img {
    margin-right: 15px;
    width: 30px;
  }
  .row-img img {
    object-fit: cover;
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
  .section-heading h3 {
    font-size: 1.9em;
  }
  #education {
    padding: 3.3em 10%;
  }

  #project-catlogue {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .project-card {
    flex: 0.3;
    margin: 1.2rem auto;
    font-size: 20px;
  }
  .project-card,
  .qualification-div {
    margin: 0 3%;
    font-size: 1.1em;
  }
  #skill-div{
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}